<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Derivative</title>
    <style>
        /*avoid any display before linking css*/
        body {display: none;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body {% if dark_theme %}class="dark-theme"{% endif %}> 
    <h1>Flask Derivative</h1>
    <form action="/derivativescalculate" method="post">
        <input type="text" name="expression" placeholder="Enter expression" required>
        <div class="toggle-group">
            <input type="radio" id="decimal" name="v" value="decimal" 
             {% if resulttype=='decimal' or resulttype is none %}
            checked
        {% endif %}>
        <label for="decimal" class="toggle-label">décimaux</label>
        <input type="radio" id="fraction" name="v" value="fraction"
        {% if resulttype=='fraction' %}
        checked
        {% endif %}>
        <label for="fraction" class="toggle-label">fraction</label>
        </div>
        <button type="submit">Calculate</button>
        <p class="info-message">Note: The derivative will be calculated with respect to x, y, z, and t.</p>
    </form>
    <form action="/calculate" method="post">
        <button type="submit">back</button>
    </form>
    <form action="/toggle_theme" method="post">
        <button type="submit" class="theme-toggle-btn">
            {% if dark_theme %}
            ☀️ Mode clair
            {% else %}
            🌙 Mode sombre
            {% endif %}
        </button>
    </form>
    {% if expressed is not none %}
        <p class="info-calcul">({{ expressed }})'</p>
    {% endif %}
    {% if result is not none %}
        <h2>=</br>{{ result }}</h2>
    {% elif error is not none %}
        <h2 class="bloody">Error: {{ error }}</h2>
    {% endif %}
    <a href="https://github.com/AKtomik/fixcalc" class="github-btn" target="_blank">Visit on GitHub</a>
</body>
</html>