<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <style>
        /*avoid any display before linking css*/
        body {display: none;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Flask Example</h1>
    <form action="/calculate" method="post">
        <button type="submit" class="margin-between" name="expression" value="(33*9)/(11*27)+1">
            (33*9)/(11*27)+1
        </button>
        <button type="submit" class="margin-between" name="expression" value="314+1592-6535/8979*32+38">
            314+1592-6535/8979*32+38
        </button>
        <button type="submit" class="margin-between" name="expression" value="74x+3*4x">
            74x+3*4x
        </button>
        <button type="submit" class="margin-between" name="expression" value="(74x+3)*4x">
            (74x+3)*4x
        </button>
        <button type="submit" class="margin-between" name="expression" value="42x(37x²+9)">
            42y(37x²+9)
        </button>
        <button type="submit" class="margin-between" name="expression" value="2**(1/2)">
            2**(1/2)
        </button>
        <button type="submit" class="margin-between" name="expression" value="18pi/3">
            18pi/3
        </button>
        <div class="toggle-group">
            <input type="radio" id="decimal" name="v" value="decimal" 
             {% if resulttype=='decimal' or resulttype is none %}
            checked
        {% endif %}>
        <label for="decimal" class="toggle-label">décimaux</label>
        <input type="radio" id="fraction" name="v" value="fraction"
        {% if resulttype=='fraction' %}
        checked
        {% endif %}>
        <label for="fraction" class="toggle-label">fraction</label>
        </div>
    </form>
</body>
</html>
