<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Calculator</title>
    <style>
        /*avoid any display before linking css*/
        body {display: none;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Flask Calculator</h1>
    <form action="/calculate" method="post">
        <input type="text" name="expression" placeholder="Enter expression" required>
        <div class="toggle-group">
            <input type="radio" id="decimal" name="v" value="decimal" 
             {% if resulttype=='decimal' or resulttype is none %}
            checked
        {% endif %}>
        <label for="decimal" class="toggle-label">décimaux</label>
        <input type="radio" id="fraction" name="v" value="fraction"
        {% if resulttype=='fraction' %}
        checked
        {% endif %}>
        <label for="fraction" class="toggle-label">fraction</label>
        </div>
    
        <button type="submit">Calculate</button>
    </form>
    <form action="/example" method="post">
        <button type="submit">Example Page</button>
    </form>
    <form action="/derivatives" method="post">
        <button type="submit">derivatives</button>
    </form>
    
    {% if expressed is not none %}
        <p class="info-calcul">{{ expressed }}</p>
    {% endif %}
    {% if result is not none %}
        <h2>=</br>{{ result }}</h2>
    {% elif error is not none %}
        <h2 class="bloody">Error: {{ error }}</h2>
    {% endif %}
    <a href="https://github.com/AKtomik/fixcalc" class="github-btn" target="_blank">Visit on GitHub</a>
</body>
</html>
